---
import Footer from "../pages/components/Footer.astro";
import HeroImages from "../pages/components/HeroImages.astro";
import ContentArea from "./ContentArea.astro";
import Header from "./Header.astro";
import { ViewTransitions } from "astro:transitions";
import { Seo } from "astro-seo-meta";

interface Props {
  isHomePage?: boolean;
  title: string;
  description?: string;
  keywords?: string[];
  canonical?: string;
  image?: string;
}

const {
  isHomePage = false,
  title = "",
  keywords,
  description,
  canonical,
  image,
} = Astro.props;
---

<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png" />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="/apple-icon-114x114.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="/apple-icon-120x120.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="/apple-icon-144x144.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="/apple-icon-152x152.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/apple-icon-180x180.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="/android-icon-192x192.png"
    />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/manifest.json" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png" />
    <meta name="theme-color" content="#ffffff" />
    <meta name="generator" content={Astro.generator} />
    <Seo
      title={title ? `${title} | Dani Akash` : "Dani Akash"}
      description={description ||
        "Dani Akash's personal website featuring insightful blogs, engaging talks, and innovative projects. Explore content on writing, speaking, and hacking, and stay updated with the latest trends in technology and creativity."}
      keywords={keywords || [
        "Dani Akash",
        "Personal Blog",
        "Tech Blog",
        "Newsletter",
        "Tech Newsletter",
        "Writing",
        "Speaking",
        "Tech Talks",
        "Web Development",
      ]}
      icon="/favicon.ico"
      themeColor="#333333"
      colorScheme="light"
      facebook={image
        ? {
            url: "https://daniakash.com",
            type: "website",
            image,
          }
        : {
            url: "https://daniakash.com",
            type: "website",
          }}
      twitter={image
        ? {
            site: "@dani_akash_",
            card: "summary_large_image",
            image,
          }
        : {
            site: "@dani_akash_",
            card: "summary",
          }}
    />
    {canonical ? <link rel="canonical" href={canonical} /> : null}
    <ViewTransitions />
  </head>
  <body class="flex h-full w-full overflow-x-hidden bg-zinc-50 dark:bg-black">
    <ContentArea />
    <div
      class="relative m-auto flex w-full max-w-7xl flex-col overflow-visible md:px-8 lg:px-16"
    >
      <div class="px-4 md:px-8 lg:px-12">
        <Header isHomePage={isHomePage} />
        <main><slot /></main>
        <div class="mt-40">
          <Footer />
        </div>
      </div>
      {
        isHomePage && (
          <div class="z-100 absolute top-[36rem] hidden w-screen overflow-clip mobile:block sm:block md:left-[-1rem] md:top-[30rem] md:w-[calc(100vw+1rem)] lg:left-[-8rem] lg:top-[28rem] lg:w-[calc(100vw+8rem)] lg:py-16 xl:left-[-16rem] xl:w-[calc(100vw+16rem)] xl:pl-28">
            <HeroImages />
          </div>
        )
      }
    </div>
  </body>
</html>
