---
interface Props {
  isHomePage?: boolean;
}

const { isHomePage = false } = Astro.props;
---

<a class={isHomePage ? "h-16 w-16" : "h-10 w-10"} href="/">
  <img
    transition:name="avatar"
    alt="dani-akash"
    class={`rounded-full bg-zinc-100 object-cover dark:bg-zinc-800 hover:transition-all hover:-translate-y-1 hover:scale-110 hover:shadow-teal-500 hover:shadow-2xl hover:dark:shadow-teal-400 ${
      isHomePage ? "h-16 w-16" : "h-9 w-9"
    }`}
    src="https://daniakash.pages.dev/_astro/avatar.cd542e81.jpg"
  />
</a>
