---

---

<a class="h-16 w-16" href="/">
  <img
    alt="dani-akash"
    class="h-16 w-16 rounded-full bg-zinc-100 object-cover dark:bg-zinc-800"
    src="https://daniakash.pages.dev/_astro/avatar.cd542e81.jpg"
  />
</a>
