---
interface Props {
  isHomePage?: boolean;
}

const { isHomePage = false } = Astro.props;
---

<a class={isHomePage ? "h-16 w-16" : "h-10 w-10"} href="/">
  <img
    alt="dani-akash"
    class={`${
      isHomePage ? "h-16 w-16" : "h-9 w-9"
    } rounded-full bg-zinc-100 object-cover dark:bg-zinc-800`}
    src="https://daniakash.pages.dev/_astro/avatar.cd542e81.jpg"
  />
</a>
