---
import { TRANSITION_NAMES } from "../../constants/transition-names";
import { slide } from "astro:transitions";
---

<div
  class="mt-16 sm:mt-32"
  transition:name={TRANSITION_NAMES.contentContainer}
  transition:animate={slide({
    duration: 500,
  })}
>
  <slot />
</div>
