---

---

<div class="flex flex-col items-center justify-between gap-y-6 sm:flex-row">
  <div class="flex gap-6 text-sm font-medium text-zinc-800 dark:text-zinc-200">
    <a
      href="/about"
      class="transition hover:text-teal-500 dark:hover:text-teal-400"
    >
      About
    </a>
    <a
      href="/projects"
      class="transition hover:text-teal-500 dark:hover:text-teal-400"
    >
      Projects
    </a>
    <a
      href="/speaking"
      class="transition hover:text-teal-500 dark:hover:text-teal-400"
    >
      Speaking
    </a>
    <a
      href="/uses"
      class="transition hover:text-teal-500 dark:hover:text-teal-400"
    >
      Uses
    </a>
  </div>
  <p class="text-sm text-zinc-400 dark:text-zinc-500">
    &#169;<!-- -->2023<!-- --> Dani Akash. All rights reserved.
  </p>
</div>
