---

---

<div
  class="aspect-[9/10] w-44 flex-none -rotate-2 overflow-hidden rounded-xl bg-zinc-100 transition-all hover:rotate-0 hover:scale-125 dark:bg-zinc-800 sm:w-72 sm:rounded-2xl"
>
  <img
    alt="dani-akash"
    src="https://daniakash.pages.dev/_astro/image-3.a95969e9.jpg"
    sizes="(min-width: 640px) 18rem, 11rem"
    class="h-full w-full object-cover"
  />
</div>
