---

---

<div class="flex flex-row gap-5 sm:gap-8">
  <div
    class="aspect-[9/10] w-44 flex-none -rotate-2 overflow-hidden rounded-xl bg-zinc-100 transition-all dark:bg-zinc-800 sm:w-72 sm:rounded-2xl lg:hover:relative lg:hover:z-10 lg:hover:rotate-0 lg:hover:scale-125"
  >
    <img
      alt="dani-akash"
      src="https://daniakash.pages.dev/_astro/image-3.a95969e9.jpg"
      sizes="(min-width: 640px) 18rem, 11rem"
      class="h-full w-full object-cover"
    />
  </div>
  <div
    class="aspect-[9/10] w-44 flex-none rotate-2 overflow-hidden rounded-xl bg-zinc-100 transition-all dark:bg-zinc-800 sm:w-72 sm:rounded-2xl lg:hover:relative lg:hover:z-10 lg:hover:rotate-0 lg:hover:scale-125"
  >
    <img
      alt="dani-akash"
      src="https://daniakash.pages.dev/_astro/image-3.a95969e9.jpg"
      sizes="(min-width: 640px) 18rem, 11rem"
      class="h-full w-full object-cover"
    />
  </div>
  <div
    class="aspect-[9/10] w-44 flex-none -rotate-2 overflow-hidden rounded-xl bg-zinc-100 hover:transition-all dark:bg-zinc-800 sm:w-72 sm:rounded-2xl lg:hover:relative lg:hover:z-10 lg:hover:rotate-0 lg:hover:scale-125"
  >
    <img
      alt="dani-akash"
      src="https://daniakash.pages.dev/_astro/image-3.a95969e9.jpg"
      sizes="(min-width: 640px) 18rem, 11rem"
      class="h-full w-full object-cover"
      transition:name="hero-image-2"
    />
  </div>
  <div
    class="aspect-[9/10] w-44 flex-none rotate-2 overflow-hidden rounded-xl bg-zinc-100 transition-all dark:bg-zinc-800 sm:w-72 sm:rounded-2xl lg:hover:relative lg:hover:z-10 lg:hover:rotate-0 lg:hover:scale-125"
  >
    <img
      alt="dani-akash"
      src="https://daniakash.pages.dev/_astro/image-3.a95969e9.jpg"
      sizes="(min-width: 640px) 18rem, 11rem"
      class="h-full w-full object-cover"
    />
  </div>
  <div
    class="aspect-[9/10] w-44 flex-none -rotate-2 overflow-hidden rounded-xl bg-zinc-100 transition-all dark:bg-zinc-800 sm:w-72 sm:rounded-2xl lg:hover:rotate-0 lg:hover:scale-125"
  >
    <img
      alt="dani-akash"
      src="https://daniakash.pages.dev/_astro/image-3.a95969e9.jpg"
      sizes="(min-width: 640px) 18rem, 11rem"
      class="h-full w-full object-cover"
    />
  </div>
</div>
