---
import { getCollection } from "astro:content";
import { TRANSITION_NAMES } from "../../constants/transition-names";
import TypeWriter from "./TypeWriter.astro";
import TwitterIcon from "../../components/icons/TwitterIcon.astro";
import InstagramIcon from "../../components/icons/InstagramIcon.astro";
import GithubIcon from "../../components/icons/GithubIcon.astro";
import LinkedinIcon from "../../components/icons/LinkedinIcon.astro";
const social = (await getCollection("social"))[0]!;
---

<div class="max-w-2xl">
  <h1
    class="text-4xl font-bold tracking-tight text-zinc-800 dark:text-zinc-100 sm:text-5xl"
    transition:name={TRANSITION_NAMES.heroTitle}
  >
    Writer, Speaker, Hacker
  </h1>
  <TypeWriter />
  <div class="mt-6 flex gap-6">
    <a
      class="group -m-1 p-1"
      href={social.data.twitter}
      aria-label="Follow on Twitter"
      target="_blank"
      rel="noreferrer"
    >
      <TwitterIcon />
    </a>
    <a
      class="group -m-1 p-1"
      href={social.data.instagram}
      aria-label="Follow on Instagram"
      target="_blank"
      rel="noreferrer"
    >
      <InstagramIcon />
    </a>
    <a
      class="group -m-1 p-1"
      href={social.data.github}
      aria-label="Follow on GitHub"
      target="_blank"
      rel="noreferrer"
    >
      <GithubIcon />
    </a>
    <a
      class="group -m-1 p-1"
      href="https://www.linkedin.com/in/daniakash/"
      aria-label="Follow on LinkedIn"
      target="_blank"
      rel="noreferrer"
    >
      <LinkedinIcon />
    </a>
  </div>
</div>
