---
// import { TRANSITION_NAMES } from "../../constants/transition-names";
// import { slide } from "astro:transitions";
//   transition:name={TRANSITION_NAMES.contentContainer}
//   transition:animate={slide({
//     duration: 500,
//   })}
---

<div class="mt-20 sm:mt-36">
  <slot />
</div>
