---
import { navLinks } from "../../constants/navLinks";
import { TRANSITION_NAMES } from "../../constants/transition-names";

const currentPath = Astro.url.pathname;
const currentYear = new Date().getFullYear();
---

<div
  class="flex flex-col items-center justify-between gap-y-6 border-t border-zinc-100 px-4 pb-16 pt-10 dark:border-zinc-700/40 sm:flex-row"
  transition:name={TRANSITION_NAMES.footer}
>
  <div
    class="flex w-full flex-wrap justify-center gap-6 text-sm font-medium text-zinc-800 dark:text-zinc-200 md:w-[unset] md:justify-start"
  >
    {
      navLinks.map((link) => {
        const isActive = currentPath.startsWith(link.href);

        return (
          <a
            href={link.href}
            class={`hover:text-teal-500 dark:hover:text-teal-400 ${
              isActive && "text-teal-500 dark:text-teal-400"
            }`}
          >
            {link.title}
          </a>
        );
      })
    }
  </div>
  <p class="text-sm text-zinc-500 dark:text-zinc-400">
    &#169;<!-- -->
    <span id="footer-year">{currentYear}</span><!-- -->
    <a
      href="https://github.com/daniakash/daniakash"
      target="_blank"
      class="font-calorie text-2xl underline hover:text-teal-500 dark:hover:text-teal-400"
      rel="noopener">Dani Akash.</a
    > All rights reserved.
  </p>
  <script type="text/javascript" is:inline data-astro-rerun>
    document.getElementById("footer-year").textContent =
      new Date().getFullYear();
  </script>
</div>
