---
import { ASSET_PREFIX } from "../../constants/asset-prefix";
---

<div class="h-[600px] w-[1200px]">
  <div
    class="flex h-full w-full flex-col items-center justify-center bg-zinc-900 font-[Roboto] text-white"
  >
    <span class="text-[48px]">The Periodic Table & The Stars</span>
    <span class="mt-4 text-[24px]"
      >Appreciating the creation of every element known to man</span
    >
    <div class="mt-4 flex items-center justify-center gap-2">
      <img src={`${ASSET_PREFIX}/avatar.jpg`} class="h-7 w-7 rounded-full" />
      <span class="ml-2 text-[20px]">Dani Akash</span>
    </div>
  </div>
</div>
