---
import MainLayout from "../layouts/MainLayout.astro";
import Header from "./components/Header.astro";
---

<MainLayout>
  <div class="mt-16 sm:mt-32">
    <Header
      title="The Blog Zone"
      subtitle="Where my thoughts get some air time (and occasionally make sense)."
    />
  </div>
</MainLayout>
