---
import ContentArea from "../layouts/ContentArea.astro";
import Header from "../layouts/Header.astro";
import Article from "./components/Article.astro";
import DarkModeToggle from "./components/DarkModeToggle.astro";
import Experience from "./components/Experience.astro";
import Footer from "./components/Footer.astro";
import Hero from "./components/Hero.astro";
import HeroImages from "./components/HeroImages.astro";
---

<html lang="en" class="dark">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body class="flex h-full w-screen bg-zinc-50 dark:bg-black">
    <ContentArea />
    <div
      class="relative m-auto flex w-full max-w-7xl flex-col md:px-8 lg:px-16"
    >
      <div class="px-4 md:px-8 lg:px-12">
        <Header />
        <div class="mt-9">
          <Hero />
        </div>
        <!-- Placeholder for images section -->
        <div class="hidden h-[320px] mobile:block md:h-[400px] lg:h-[448px]">
        </div>
        <div class="flex items-stretch justify-between">
          <div class="flex flex-col gap-12">
            <Article />
            <Article />
            <Article />
            <Article />
            <Article />
            <Article />
          </div>
          <div>
            <Experience />
          </div>
        </div>
        <div class="mt-40">
          <Footer />
        </div>
      </div>
      <div class="absolute right-4 top-6 md:right-32">
        <DarkModeToggle />
      </div>
      <div
        class="z-100 absolute top-[36rem] hidden w-screen overflow-clip mobile:block sm:block md:left-[-1rem] md:top-[30rem] md:w-[calc(100vw+1rem)] lg:left-[-8rem] lg:top-[28rem] lg:w-[calc(100vw+8rem)] lg:py-16 xl:left-[-16rem] xl:w-[calc(100vw+16rem)] xl:pl-28"
      >
        <HeroImages />
      </div>
    </div>
  </body>
</html>
