---
import ContentArea from "../layouts/ContentArea.astro";
import Header from "../layouts/Header.astro";
import Article from "./components/Article.astro";
import Experience from "./components/Experience.astro";
---

<html lang="en" class="dark">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body class="flex h-full w-screen bg-zinc-50 dark:bg-black">
    <ContentArea />
    <div class="relative flex w-full flex-col">
      <Header />
      <Article />
      <Experience />
    </div>
  </body>
</html>
