---
import ContentArea from "../components/content-area.astro";
---

<html lang="en" class="dark">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body class="flex h-full flex-col bg-zinc-50 dark:bg-black">
    <ContentArea />
  </body>
</html>
