---
import MainLayout from "../layouts/MainLayout.astro";
import Article from "./components/Article.astro";
import Experience from "./components/Experience.astro";
import Hero from "./components/Hero.astro";
---

<MainLayout isHomePage={true}>
  <div class="mt-9">
    <Hero />
  </div>
  <!-- Placeholder for images section -->
  <div class="hidden h-[320px] mobile:block md:h-[400px] lg:h-[448px]"></div>
  <div class="flex items-stretch justify-between">
    <div class="flex flex-col gap-12">
      <Article />
      <Article />
      <Article />
      <Article />
      <Article />
      <Article />
    </div>
    <div>
      <Experience />
    </div>
  </div>
</MainLayout>
