---
import DarkModeToggle from "./components/DarkModeToggle.astro";
import ContentArea from "./components/content-area.astro";
import Nav from "./components/nav.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body class="flex h-full bg-zinc-50 dark:bg-black">
    <ContentArea />
    <div class="relative">
      <Nav />
      <DarkModeToggle />
    </div>
  </body>
</html>
