---
import { getCollection } from "astro:content";
import MainLayout from "../layouts/MainLayout.astro";
import Article from "./components/Article.astro";
import Experience from "./components/Experience.astro";
import Hero from "./components/Hero.astro";
const posts = (await getCollection("blog")).sort((a, b) => {
  const dateA = new Date(a.data.date).getTime();
  const dateB = new Date(b.data.date).getTime();
  return dateB - dateA;
});
---

<MainLayout isHomePage={true}>
  <div class="mt-9">
    <Hero />
  </div>
  <!-- Placeholder for images section -->
  <div class="hidden h-[320px] mobile:block md:h-[400px] lg:h-[448px]"></div>
  <div
    class="mt-12 flex flex-col-reverse gap-12 mobile:mt-0 lg:flex-row lg:items-stretch lg:justify-between"
  >
    <div class="flex flex-col gap-12">
      {
        posts.map((each) => {
          return <Article {...each.data} slug={each.slug} />;
        })
      }
    </div>
    <div>
      <Experience />
    </div>
  </div>
</MainLayout>
