/* From: https://github.com/pacocoursey/cmdk/blob/main/website/styles/globals.scss */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100 900;
  font-display: optional;
  src: url(/inter-var-latin.woff2) format("woff2");
  unicode-range:
    U0-0FF,
    U131,
    U152-153,
    U2BB-2BC,
    U2C 6,
    U2DA,
    U2DC,
    U2000-206F,
    U2074,
    U20AC,
    U2122,
    U2191,
    U2193,
    U2212,
    U2215,
    UFEFF,
    UFFFD;
}
::selection {
  background: hotpink;
  color: white;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-sans);
}
body {
  background: var(--app-bg);
  overflow-x: hidden;
}
button {
  background: none;
  font-family: var(--font-sans);
  padding: 0;
  border: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
*,
*::after,
*::before {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:root {
  --font-sans: "Inter", --apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --app-bg: var(--gray1);
  --cmdk-shadow: 0 16px 70px #000;
  --lowContrast: #fff;
  --highContrast: #000;
  --gray1: #fcfcfc;
  --gray2: #f8f8f8;
  --gray3: #f3f3f3;
  --gray4: #ededed;
  --gray5: #e8e8e8;
  --gray6: #e2e2e2;
  --gray7: #dbdbdb;
  --gray8: #c7c7c7;
  --gray9: #8f8f8f;
  --gray10: #858585;
  --gray11: #6f6f6f;
  --gray12: #171717;
  --grayA1: rgba(0, 0, 0, 0.012);
  --grayA2: rgba(0, 0, 0, 0.027);
  --grayA3: rgba(0, 0, 0, 0.047);
  --grayA4: rgba(0, 0, 0, 0.071);
  --grayA5: rgba(0, 0, 0, 0.09);
  --grayA6: rgba(0, 0, 0, 0.114);
  --grayA7: rgba(0, 0, 0, 0.141);
  --grayA8: rgba(0, 0, 0, 0.22);
  --grayA9: rgba(0, 0, 0, 0.439);
  --grayA10: rgba(0, 0, 0, 0.478);
  --grayA11: rgba(0, 0, 0, 0.565);
  --grayA12: rgba(0, 0, 0, 0.91);
  --blue1: #fbfdff;
  --blue2: #f5faff;
  --blue3: #edf6ff;
  --blue4: #e1f0ff;
  --blue5: #cee7fe;
  --blue6: #b7d9f8;
  --blue7: #96c7f2;
  --blue8: #5eb0ef;
  --blue9: #0091ff;
  --blue10: #0081f1;
  --blue11: #006adc;
  --blue12: #00254d;
}
.dark {
  --app-bg: var(--gray1);
  --lowContrast: #000;
  --highContrast: #fff;
  --gray1: #161616;
  --gray2: #1c1c1c;
  --gray3: #232323;
  --gray4: #282828;
  --gray5: #2e2e2e;
  --gray6: #343434;
  --gray7: #3e3e3e;
  --gray8: #505050;
  --gray9: #707070;
  --gray10: #7e7e7e;
  --gray11: #a0a0a0;
  --gray12: #ededed;
  --grayA1: rgba(255, 255, 255, 0);
  --grayA2: rgba(255, 255, 255, 0.026);
  --grayA3: rgba(255, 255, 255, 0.056);
  --grayA4: rgba(255, 255, 255, 0.077);
  --grayA5: rgba(255, 255, 255, 0.103);
  --grayA6: rgba(255, 255, 255, 0.129);
  --grayA7: rgba(255, 255, 255, 0.172);
  --grayA8: rgba(255, 255, 255, 0.249);
  --grayA9: rgba(255, 255, 255, 0.386);
  --grayA10: rgba(255, 255, 255, 0.446);
  --grayA11: rgba(255, 255, 255, 0.592);
  --grayA12: rgba(255, 255, 255, 0.923);
  --blue1: #0f1720;
  --blue2: #0f1b2d;
  --blue3: #10243e;
  --blue4: #102a4c;
  --blue5: #0f3058;
  --blue6: #0d3868;
  --blue7: #0a4481;
  --blue8: #0954a5;
  --blue9: #0091ff;
  --blue10: #369eff;
  --blue11: #52a9ff;
  --blue12: #eaf6ff;
}

/* From: https://github.com/pacocoursey/cmdk/blob/main/website/styles/cmdk/framer.scss */
.framer [cmdk-root] {
  width: 75vw;
  /* max-width: 640px;
  width: 100%; */
  padding: 8px;
  background: #fff;
  border-radius: 16px;
  overflow: hidden;
  font-family: var(--font-sans);
  border: 1px solid var(--gray6);
  box-shadow: var(--cmdk-shadow);
}
.dark .framer [cmdk-root] {
  background: var(--gray2);
}
.framer [cmdk-framer-header] {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 48px;
  padding: 0 8px;
  border-bottom: 1px solid var(--gray5);
  margin-bottom: 12px;
  padding-bottom: 8px;
}
.framer [cmdk-framer-header] svg {
  width: 20px;
  height: 20px;
  color: var(--gray9);
  transform: translateY(1px);
}
.framer [cmdk-input] {
  font-family: var(--font-sans);
  border: none;
  width: 100%;
  font-size: 16px;
  outline: none;
  background: var(--bg);
  color: var(--gray12);
}
.framer [cmdk-input]::placeholder {
  color: var(--gray9);
}
.framer [cmdk-item] {
  content-visibility: auto;
  cursor: pointer;
  border-radius: 12px;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 12px;
  color: var(--gray12);
  padding: 8px 8px;
  margin-right: 8px;
  font-weight: 500;
  transition: all 150ms ease;
  transition-property: none;
}
.framer [cmdk-item][data-selected="true"] {
  background: var(--blue9);
  color: #fff;
}
.framer [cmdk-item][data-selected="true"] [cmdk-framer-item-subtitle] {
  color: #fff;
}
.framer [cmdk-item][data-disabled="true"] {
  color: var(--gray8);
  cursor: not-allowed;
}
.framer [cmdk-item] + [cmdk-item] {
  margin-top: 4px;
}
.framer [cmdk-item] svg {
  width: 16px;
  height: 16px;
  color: #fff;
}
.framer [cmdk-framer-icon-wrapper] {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 32px;
  height: 32px;
  background: orange;
  border-radius: 8px;
}
.framer [cmdk-framer-item-meta] {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.framer [cmdk-framer-item-subtitle] {
  font-size: 12px;
  font-weight: 400;
  color: var(--gray11);
}
.framer [cmdk-framer-items] {
  min-height: 308px;
  display: flex;
}
.framer [cmdk-framer-left] {
  width: 40%;
}
.framer [cmdk-framer-separator] {
  width: 1px;
  border: 0;
  margin-right: 8px;
  background: var(--gray6);
}
.framer [cmdk-framer-right] {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  margin-left: 8px;
  width: 60%;
}
.framer [cmdk-framer-right] button {
  width: 120px;
  height: 40px;
  background: var(--blue9);
  border-radius: 6px;
  font-weight: 500;
  color: white;
  font-size: 14px;
}
.framer [cmdk-framer-right] input[type="text"] {
  height: 40px;
  width: 160px;
  border: 1px solid var(--gray6);
  background: #fff;
  border-radius: 6px;
  padding: 0 8px;
  font-size: 14px;
  font-family: var(--font-sans);
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.08);
}
.framer [cmdk-framer-right] input[type="text"]::placeholder {
  color: var(--gray9);
}
@media (prefers-color-scheme: dark) {
  .framer [cmdk-framer-right] input[type="text"] {
    background: var(--gray3);
  }
}
.framer [cmdk-framer-right] [cmdk-framer-radio] {
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--gray12);
  font-weight: 500;
  font-size: 14px;
  accent-color: var(--blue9);
}
.framer [cmdk-framer-right] [cmdk-framer-radio] input {
  width: 20px;
  height: 20px;
}
.framer [cmdk-framer-right] img {
  width: 40px;
  height: 40px;
  border-radius: 9999px;
  border: 1px solid var(--gray6);
}
.framer [cmdk-framer-right] [cmdk-framer-container] {
  width: 100px;
  height: 100px;
  background: var(--blue9);
  border-radius: 16px;
}
.framer [cmdk-framer-right] [cmdk-framer-badge] {
  background: var(--blue3);
  padding: 0 8px;
  height: 28px;
  font-size: 14px;
  line-height: 28px;
  color: var(--blue11);
  border-radius: 9999px;
  font-weight: 500;
}
.framer [cmdk-framer-right] [cmdk-framer-slider] {
  height: 20px;
  width: 200px;
  background: linear-gradient(90deg, var(--blue9) 40%, var(--gray3) 0%);
  border-radius: 9999px;
}
.framer [cmdk-framer-right] [cmdk-framer-slider] div {
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 9999px;
  box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.32);
  transform: translateX(70px);
}
.framer [cmdk-list] {
  overflow: auto;
}
.framer [cmdk-separator] {
  height: 1px;
  width: 100%;
  background: var(--gray5);
  margin: 4px 0;
}
.framer [cmdk-group-heading] {
  user-select: none;
  font-size: 12px;
  color: var(--gray11);
  padding: 0 8px;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
.framer [cmdk-empty] {
  font-size: 14px;
  padding: 32px;
  white-space: pre-wrap;
  color: var(--gray11);
}
@media (max-width: 640px) {
  .framer [cmdk-framer-item-subtitle] {
    display: none;
  }
}
