---
import Avatar from "../pages/components/Avatar.astro";
import Nav from "../pages/components/Nav.astro";
---

<header class="relative m-auto flex w-full max-w-7xl flex-none flex-col">
  <div
    class="mr-[calc(theme(spacing.4)+48px)] mt-6 flex flex-row self-end sm:px-8 md:mr-[unset] md:self-center"
  >
    <Nav />
  </div>
  <div class="mt-[calc(theme(spacing.16)-theme(spacing.3))]"></div>
  <Avatar />
</header>
