---
import ArrowLeftIcon from "../pages/components/icons/ArrowLeftIcon.astro";
---

<div class="mt-16 sm:mt-32">
  <div class="relative px-4 sm:px-8 lg:px-12">
    <div class="mx-auto max-w-2xl lg:max-w-5xl">
      <div class="xl:relative">
        <div class="mx-auto max-w-2xl">
          <button
            role="button"
            onclick="history.back()"
            aria-label="Go back to articles"
            class="group mb-8 flex h-10 w-10 items-center justify-center rounded-full bg-white shadow-md shadow-zinc-800/5 ring-1 ring-zinc-900/5 transition dark:border dark:border-zinc-700/50 dark:bg-zinc-800 dark:ring-0 dark:ring-white/10 dark:hover:border-zinc-700 dark:hover:ring-white/20 lg:absolute lg:-left-5 lg:-mt-2 lg:mb-0 xl:-top-1.5 xl:left-0 xl:mt-0"
            ><ArrowLeftIcon /></button
          >
          <slot />
        </div>
      </div>
    </div>
  </div>
</div>
